//cores
$cor-fundo-claro:               #FEF5EA;
$cor-clara:                     #fffbf5;
$cor-preto:                     #000000;
$cor-branco:                    #ffffff;

//cores tema
$cor-tema-vermelho:             #CA5959;
$cor-transparencia-vermelho:    rgba(202,89,89, 0.83);

//fontes

$fonte-textos: "Noto Sans", sans-serif;
$fonte-titulo: "Press Start 2P", system-ui;
