html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #FEF5EA;
  max-width: 100vw;
  width: 100vw;
  overflow-x: hidden;
}

main {
  background-color: rgba(202, 89, 89, 0.83);
  height: auto;
  min-height: 84vh;
  border-radius: 0 0 30px 30px;
  box-shadow: inset 0px -4px 11px #d06161, inset 0px -4px 11px #774242;
}

a {
  text-decoration: none;
}

::-moz-selection {
  background-color: #FEF5EA;
  color: #CA5959;
}

::selection {
  background-color: #FEF5EA;
  color: #CA5959;
}

@media screen and (min-width: 1024px) and (orientation: portrait) {
  body {
    background-color: #FEF5EA;
    max-width: 90vw;
    width: 90vw;
  }
}
footer {
  display: flex;
  flex-direction: column;
}
footer p {
  font-family: "Noto Sans", sans-serif;
  font-size: 0.8rem;
  color: #000000;
  padding: 2vw;
}
footer a {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.1rem;
  color: #CA5959;
  align-self: flex-end;
  padding: 0 8vw 0 0;
  font-weight: 700;
}

@media screen and (min-width: 1024px) {
  footer {
    height: 13vh;
    width: 96vw;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  footer p {
    align-self: center;
    text-align: right;
    width: 57vw;
    font-size: 0.9rem;
    padding-right: 0;
  }
  footer a {
    padding-left: 2vw;
    align-self: center;
  }
}
.principal {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7vh;
  padding: 20vh 0;
  border-radius: 0 0 40px 40px;
}
.principal h1 {
  font-family: "Press Start 2P", system-ui;
  font-size: 1.5rem;
  color: #FEF5EA;
  width: 40vw;
  text-align: center;
}
.principal form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vh;
}
.principal form fieldset input {
  width: 70vw;
  height: 3.7vh;
  border-radius: 6px;
  border: none;
  background-color: #fffbf5;
  box-shadow: inset 0px 5px 4px #bfbdbd, inset 0px -5px 4px #f2f2f2;
  font-family: "Noto Sans", sans-serif;
  font-size: 1rem;
  color: rgba(202, 89, 89, 0.83);
  opacity: 1;
  padding: 7px;
  font-weight: 600;
}
.principal form fieldset input:focus {
  outline: none;
  font-family: "Noto Sans", sans-serif;
  font-size: 1rem;
  color: #CA5959;
  font-weight: 600;
}
.principal form fieldset input::-moz-placeholder {
  font-family: "Noto Sans", sans-serif;
  font-size: 1rem;
  color: rgba(202, 89, 89, 0.83);
  opacity: 1;
  padding: 7px;
  font-weight: 600;
}
.principal form fieldset input::placeholder {
  font-family: "Noto Sans", sans-serif;
  font-size: 1rem;
  color: rgba(202, 89, 89, 0.83);
  opacity: 1;
  padding: 7px;
  font-weight: 600;
}
.principal form a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.botaoLogin {
  background-color: #CA5959;
  border: none;
  width: 70vw;
  height: 29px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-family: "Noto Sans", sans-serif;
  font-size: 0.9rem;
  color: #fffbf5;
  font-weight: 600;
  box-shadow: 0px 2px 10px #d06161, 0px 2px 10px #8c5050;
}

.botaoLogin:hover {
  color: #CA5959;
  background-color: #fffbf5;
  transition: 0.7s;
}

#enviar {
  margin-top: 2.3vh;
}

.line {
  height: 1px;
  width: 70vw;
  background-color: #fffbf5;
  margin: 1vh;
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
  main {
    border-radius: 0 0 137px 0;
    width: 95vw;
    box-shadow: 2px 2px 19px #d06161, 2px 2px 19px #774242;
  }
  .principal {
    padding: 0;
    height: 87vh;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .principal h1 {
    width: 30vw;
    font-size: 1.7em;
  }
  .principal form fieldset input {
    width: 29vw;
  }
  .botaoLogin {
    width: 30vw;
  }
  .line {
    width: 30vw;
  }
}
.isActive {
  transition-property: border-color, color;
  transition-duration: 1s;
  color: #fffbf5;
  border-color: #fffbf5 !important;
}

.principalCadastro {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.5vh;
  padding: 6vh 0;
  border-radius: 0 0 40px 40px;
}
.principalCadastro div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.principalCadastro div h1 {
  font-family: "Press Start 2P", system-ui;
  font-size: 1rem;
  color: #FEF5EA;
  width: 70vw;
  text-align: center;
}
.principalCadastro div ul {
  font-family: "Noto Sans", sans-serif;
  font-size: 0.7rem;
  color: #CA5959;
  display: flex;
}
.principalCadastro div ul li {
  width: 15vw;
  padding: 0.3vh 2vw;
  border-top: 1px solid #CA5959;
  margin: 1vh 0;
  text-align: center;
}
.principalCadastro form fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.principalCadastro form fieldset label {
  font-family: "Noto Sans", sans-serif;
  font-size: 1rem;
  color: #fffbf5;
}
.principalCadastro form fieldset select,
.principalCadastro form fieldset input {
  width: 70vw;
  height: 2vh;
  border-radius: 12px;
  border: none;
  background-color: #fffbf5;
  box-shadow: inset 0px 5px 4px #bfbdbd, inset 0px -5px 4px #f2f2f2;
  font-family: "Noto Sans", sans-serif;
  font-size: 1rem;
  color: rgba(202, 89, 89, 0.83);
  opacity: 1;
  padding: 7px;
  font-weight: 600;
  text-align: center;
}
.principalCadastro form fieldset select,
.principalCadastro form fieldset input:focus {
  outline: none;
}
.principalCadastro form fieldset select {
  width: 73vw;
  height: 4vh;
  margin-bottom: 1.5vh;
}
.principalCadastro form fieldset span {
  font-family: "Noto Sans", sans-serif;
  font-size: 0.7rem;
  color: #FEF5EA;
  margin-bottom: 1.5vh;
  margin-top: -1.2vh;
}
.principalCadastro .containerBotoes {
  margin-top: 2vh;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  width: 74vw;
  justify-content: space-between;
}

.botaoCadastro {
  margin: 0 !important;
  font-family: "Noto Sans", sans-serif;
  font-size: 1rem;
  color: #CA5959;
  background-color: #FEF5EA;
  border: 0;
  width: 30vw;
  height: 3.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 27px;
  font-weight: 800;
}

.botaoCadastro:hover {
  background-color: #CA5959;
  color: #FEF5EA;
}

.formularioDeInformacoesPessoais fieldset {
  gap: 2vh;
}

.formularioDeRegistroDeCidadania {
  margin-top: 8vh;
}
.formularioDeRegistroDeCidadania fieldset {
  margin-top: 1vh;
  gap: 2vh;
}
.formularioDeRegistroDeCidadania fieldset:nth-child(3) {
  margin-bottom: 13vh;
}

@media screen and (min-width: 768px) {
  .principalCadastro .containerAvanco h1 {
    font-size: 1.2rem;
  }
  .principalCadastro .containerAvanco ul li {
    font-size: 1rem;
  }
  .principalCadastro {
    gap: 7vh;
  }
  .principalCadastro form fieldset input {
    width: 50vw;
  }
  .principalCadastro form fieldset select {
    width: 52vw;
  }
  .containerBotoes {
    justify-content: space-evenly !important;
  }
  .botaoCadastro {
    width: 20vw;
  }
}
@media screen and (min-width: 1024px) and (orientation: landscape) {
  #nomeCadastro {
    grid-area: nome;
  }
  #usuarioCadastro {
    grid-area: usuario;
  }
  #senhaCadastro {
    grid-area: senha;
  }
  #dataCadastro {
    grid-area: data;
  }
  #linguaCadastro {
    grid-area: lingua;
  }
  #linguaCadastro {
    grid-area: lingua;
  }
  .containerBotoes {
    grid-area: botoes;
  }
  #cidadeCadastro {
    grid-area: cidade;
  }
  #regiaoCadastro {
    grid-area: regiao;
  }
  #tipoCadastro {
    grid-area: tipo;
  }
  #emailCadastro {
    grid-area: email;
  }
  .tituloCampo {
    grid-area: titulo;
  }
  .dadosDoCampo {
    grid-area: dados;
  }
  .mensagensDeErro {
    grid-area: erro;
  }
  .principalCadastro {
    width: 90vw;
  }
  .principalCadastro .containerAvanco {
    flex-direction: row;
    justify-content: space-between;
    width: 80vw;
  }
  .principalCadastro .containerAvanco h1 {
    width: 20vw;
  }
  .principalCadastro .containerAvanco ul li {
    font-size: 0.8rem;
    width: 8vw;
  }
  .principalCadastro form fieldset {
    display: grid;
    grid-area: 10vh 10vh/35vw 35vw;
    grid-template-areas: "titulo dados" ". erro";
    justify-content: space-between;
  }
  .principalCadastro form fieldset label {
    width: 12vw;
  }
  .principalCadastro form fieldset select {
    width: 21.3vw;
    height: 5vh;
    margin-right: 0;
  }
  .principalCadastro form fieldset input {
    width: 20vw;
    height: 3vh;
  }
  .principalCadastro form fieldset span {
    position: fixed;
    padding-top: 5.3vw;
  }
  .principalCadastro .containerBotoes {
    width: 70vw;
    gap: 30vw;
    margin-top: 3vh;
  }
  .formularioDeInformacoesPessoais {
    display: grid;
    grid-template: 10vh 10vh 10vh 10vh 10vh/35vw 35vw;
    grid-template-areas: "nome nome" "usuario senha" "data lingua" "email email" "botoes botoes";
    justify-content: center;
    align-items: center;
    gap: 1vh 1vw;
    margin-top: 6vh;
  }
  .formularioDeInformacoesPessoais fieldset:nth-child(1) input,
  .formularioDeInformacoesPessoais fieldset:nth-child(6) input {
    width: 56vw;
  }
  .formularioDeRegistroDeCidadania {
    display: grid;
    grid-template: 10vh 10vh 10vw/35vw 35vw;
    grid-template-areas: "regiao cidade" "tipo   .     " "botoes botoes";
    gap: 1vh 1vw;
    margin-top: 10vh;
  }
  .formularioDeRegistroDeCidadania fieldset {
    margin-top: 0;
    gap: 2vh;
  }
  .formularioDeRegistroDeCidadania fieldset:nth-child(3) {
    margin-bottom: 0;
  }
}
.fotoPerfil {
  height: 100vh;
  position: absolute;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
}
.fotoPerfil div {
  height: 80vh;
  width: 95vw;
  background-color: rgba(202, 89, 89, 0.83);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-shadow: 5px 0px 30px #9e4949, -5px 0px 30px #c85555;
}
.fotoPerfil div h2 {
  font-family: "Press Start 2P", system-ui;
  font-size: 1.3em;
  color: #FEF5EA;
  width: 50vw;
  text-align: center;
}
.fotoPerfil div ul {
  display: flex;
  gap: 8vw;
  margin-top: -5vh;
}
.fotoPerfil div button {
  width: 30vw;
  height: 7vh;
  border-radius: 20px;
  border: none;
  font-weight: 600;
  background-color: #FEF5EA;
  font-family: "Noto Sans", sans-serif;
  font-size: 0.8em;
  color: #CA5959;
  box-shadow: 0px 3px 5px #7a4c4c, -2px -2px 5px #c85555;
}
.fotoPerfil div button:hover {
  box-shadow: none;
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
  .fotoPerfil div {
    width: 55vw;
    height: 75vh;
  }
  .fotoPerfil div ul {
    margin-top: 0;
    margin-bottom: -5vw;
  }
  .fotoPerfil div button {
    font-size: 0.8em;
    width: 18vw;
  }
  .fotoPerfil div button:nth-child(3) {
    width: 10vw;
  }
}/*# sourceMappingURL=style.css.map */